// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

// :root {
//   --ep-color-primary: red;
// }

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}
nav {
  padding: 10px;
}
// var
$directions: (
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right'
);

$dimensions: (
  'p': 'padding',
  'm': 'margin'
);

@each $dim in $dimensions {
  @each $dir in $directions {
    @for $i from 1 through 30 {
      $size: $i;
      .#{nth($dim,1)}#{nth($dir,1)}#{$size} {
        #{nth($dim,2)}-#{nth($dir,2)}: #{$size}px;
      }
    }
  }
}

@each $dim in $dimensions {
  @for $i from 1 through 6 {
    $size: $i * 5;
    .#{nth($dim,1)}#{$size} {
      #{nth($dim,2)}: #{$size}px;
    }
  }
}

@for $i from 10 through 20 {
  $size: $i * 2;
  .f#{$size} {
    font-size: #{$size}px;
    font-weight: 500;
    color: #acb5c1;
  }
}
