<!doctype html>

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-row :gutter="10">
        <el-col :span="12">
            <el-card class="box-card my-box">
                <div slot="header" class="clearfix">
                    <span>0x9101</span>
                </div>
                <el-form size="mini" :inline="true" label-width="180px">
                    <el-form-item label="TerminalId">
                        <el-input id="terminalId9101" type="text" v-model="payload9101.terminalId"/>
                    </el-form-item>
                    <el-form-item label="serverIp">
                        <el-input id="serverIp9101" type="text" v-model="payload9101.serverIp"/>
                    </el-form-item>
                    <el-form-item label="serverPortTcp">
                        <el-input-number :controls="false" v-model="payload9101.serverPortTcp"/>
                    </el-form-item>
                    <el-form-item label="serverPortUdp">
                        <el-input-number :controls="false" v-model="payload9101.serverPortUdp"/>
                    </el-form-item>
                    <el-form-item label="channelNumber">
                        <el-input-number :controls="false" v-model="payload9101.channelNumber"/>
                    </el-form-item>
                    <el-form-item label="dataType">
                        <el-input-number :controls="false" id="dataType9101" type="number" v-model="payload9101.dataType"/>
                    </el-form-item>
                    <el-form-item label="streamType">
                        <el-input-number :controls="false" id="streamType9101" type="number" v-model="payload9101.streamType"/>
                    </el-form-item>
                    <div>
                        {{ response9101 }}
                    </div>
                    <el-form-item>
                        <el-button type="primary" @click="sendMsg9101">Send</el-button>
                    </el-form-item>

                </el-form>
            </el-card>
        </el-col>
        <el-col :span="12">
            <el-card class="box-card my-box">
                <div slot="header" class="clearfix">
                    <span>0x9102</span>
                </div>
                <el-form size="mini" :inline="true" label-width="180px">
                    <el-form-item label="terminalId9102">
                        <el-input v-model="payload9102.terminalId"/>
                    </el-form-item>
                    <el-form-item label="channelNumberTcp9102">
                        <el-input-number :controls="false" v-model="payload9102.channelNumber"/>
                    </el-form-item>
                    <el-form-item label="command9102">
                        <el-input-number :controls="false" v-model="payload9102.command"/>
                    </el-form-item>
                    <el-form-item label="mediaTypeToClose9102">
                        <el-input-number :controls="false" type="number" v-model="payload9102.mediaTypeToClose"/>
                    </el-form-item>
                    <el-form-item label="streamType9102">
                        <el-input-number :controls="false" type="number" v-model="payload9102.streamType"/>
                    </el-form-item>
                    <div>
                        {{ response9102 }}
                    </div>
                    <el-form-item>
                        <el-button type="primary" @click="sendMsg9102">Send</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>

    <el-row>
        <el-card class="box-card my-box">
            <div slot="header" class="clearfix">
                <span>Terminal List</span>
                <el-button style="float: right; padding: 3px 0" type="text" @click="loadTerminals">RefreshTerminalList</el-button>
            </div>
            <el-table
                    :data="terminalList"
                    style="width: 100%">
                <el-table-column
                        prop="terminalId"
                        label="terminalId"
                >
                </el-table-column>
                <el-table-column
                        prop="version"
                        label="version"
                >
                </el-table-column>
                <el-table-column
                        prop="lastCommunicationTime"
                        label="lastCommunicationTime"
                >
                </el-table-column>
                <el-table-column
                        prop="latestGeo"
                        label="latestGeo"
                >
                </el-table-column>
            </el-table>
        </el-card>

    </el-row>

</div>

</body>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            terminalList: [],
            payload9101: {
                terminalId: "018008501119",
                serverIp: "1.1.1.1",
                serverPortTcp: 61078,
                serverPortUdp: 61078,
                channelNumber: 3,
                dataType: 0,
                streamType: 1,
            },
            response9101: "",
            payload9102: {
                terminalId: "018008501119",
                channelNumber: 3,
                command: 0,
                mediaTypeToClose: 0,
                streamType: 1,
            },
            response9102: "",
        },
        created: function () {
            this.loadTerminals()
        },
        methods: {
            loadTerminals: function () {
                const context = this
                axios.get('/debug/terminals')
                    .then(function (response) {
                        context.terminalList = response.data.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            sendMsg9101: function () {
                const context = this
                axios.post('/debug/send-msg/9101', context.payload9101)
                    .then(function (response) {
                        console.log(response)
                        context.response9101 = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            sendMsg9102: function () {
                const context = this
                axios.post('/debug/send-msg/9102', context.payload9102)
                    .then(function (response) {
                        console.log(response)
                        context.response9102 = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

        },
        watch: {}
    })
</script>
<style type="text/css">
    .my-box {
        margin-bottom: 10px;
    }
</style>
</html>